body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* HEADER ------------------*/
.container-header {
  background-color: #0e2a33;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  height: 15vh;
  margin: 0;
  position: fixed;
  gap: 10px;
  z-index: 1000;
}
.container-header p {
  cursor: default;
}

img {
  height: 13vh;
}

h3.exp {
  color: #0e2a33;
  width: 333px;
  height: 21.47px;
  top: 315.54px;
  left: 23.79px;
  gap: 0px;
  opacity: 0px;
  font-size: 50px;
}

.container-logo {
  color: #ffffff;
  font-size: large;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}

.container-button {
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: 20px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.btn-header {
  background-color: #ffffff;
  border: none;
  color: #007bc7;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}

.btn-header:hover {
  opacity: 0.9;
  box-shadow: 0 4px 5px rgba(57, 175, 229, 0.5);
}

/* BODY ------------*/

/* ----------- ESTILOS SECCION SEARCH ---------- */
.container-search {
  background-image: url("/public/img/bariloche\ fondo.jpeg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 55vh;
  width: 100%;
  padding-top: 15vh;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.container-search p {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.input-form {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
}

input::placeholder {
  text-align: center;
}

.btn-search {
  color: #ffffff;
  background-color: #39afe5;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  width: 103px;
  height: 42px;
}

.btn-search:hover {
  opacity: 0.9;
  transform: scale(1.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ------------ SECCION EXPERIENCIAS-----------------------*/

/* .container-tours-random{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  
}

.img-card-random{
  height: 22vh;
  position: absolute;
  
  
}

.title-card-random{
  position: relative;
  color: #FFFFFF;
  font-weight: bold;
  padding: 5px;
  margin-top: 17vh;
  margin-left: 2vw;
  
} */

.container-tours-random {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 4vw;
  color: #aca18a;
}

.line1 {
  width: 280px;
  height: 5px;
  top: 371.35px;
  left: 80.79px;
  gap: 10px;
  border: 1.59px 0px 0px 0px;
  opacity: 0px;
}

.card-random {
  display: flex;
}

.img-card-random {
  border-radius: 26px;
  height: 40vh;
  width: 30vh;
  object-fit: cover; /* Asegura que la imagen cubra completamente su contenedor */
  cursor: pointer;
}

.title-card-random {
  position: absolute; /* Cambiado a absolute para superponer el texto sobre la imagen */
  bottom: 20px; /* Posiciona el texto en la parte inferior de la imagen */
  left: 40%; /* Centra el texto horizontalmente */
  transform: translateX(-300%); /* Ajusta la posición para centrar el texto */
  color: #f20b0b;
  padding: 5px;
  font-size: medium;
}

.subtitle-card-random {
  position: absolute; /* Cambiado a absolute para superponer el texto sobre la imagen */
  bottom: -2px; /* Posiciona el texto en la parte inferior de la imagen */
  left: 40%; /* Centra el texto horizontalmente */
  transform: translateX(-340%); /* Ajusta la posición para centrar el texto */
  color: #ffffff;
  padding: 5px;
  font-size: medium;
}

/*--------------- SECCION OFERTAS ESPECIALES ----------------------------*/

.container-offers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 120px;
  /* text-decoration: none; */
  /* gap: 15px; */
  position: relative;
  color: #aca18a;
  margin-right: 5vw;
}

p.offers {
  color: #8aa5ac;
  margin-left: auto;
  /* font-size: large; */
}

h3.offers {
  color: #0e2a33;
  font-size: 50px;
  position: absolute; /* Cambia la posición para usar `right` */
  right: 50px; /* Ajusta la distancia desde el borde derecho */
  top: 15px; /* Ajusta la distancia desde el borde superior */
}

.line2 {
  width: 280px;
  height: 5px;
  border: 1.59px 0px 0px 0px;
  position: absolute;
  right: 50px; /* Ajusta la distancia desde el borde derecho */
  top: 135px; /* Ajusta la distancia desde el borde superior si es necesario */
}

/* ----------- CARD TOUR-----------------*/
.contairner-card-tour{
  display: grid;
  grid-template-columns: 40vw 40vw;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 20vw;
  padding-bottom: 10vh;
}

.card-tour {
  /* background-color: rgba(23, 161, 250, 0.6); */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-color:   #ffa20129;
  width: 100%;
  max-width: 300px; /*se modifica este*/
  height: max-content;
  border-radius: 15px;
  padding-bottom: 10px;
  overflow: hidden; /*se modifica este*/
  
}

.title-card-tour {
  margin-left: 10px;
  color: rgba(118, 126, 134, 1);
  font-size: large;
}

.subtitle-card-tour {
  color: #0e2a33;
  margin-top: -5px;
  margin-left: 10px;
  font-size: small;
}

.img-card-tour {
  width: 100%; 
  height: 40vh;
  border-radius: 15px;
}

.price-card-tour {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(118, 126, 134, 1);
}

.price-card-tour p {
  font-size: small;
}

.price {
  color: rgba(57, 175, 229, 1);
  font-weight: bold;
  font-size: 30px;
}

.btn-card-tour {
  background-color: #ffa20129;
  color: #007bc7;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 100%; /* Ocupa todo el ancho disponible */
  text-align: center;
  max-width: 150px; /* Ajusta el tamaño máximo del botón */
  box-sizing: border-box; 
  /* align-self: center; Centra el botón horizontalmente */
  margin-top: auto;
}

/* .btn-card-tour {
  background-color: rgba(193, 138, 41, 0.1);
  color: #007bc7;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  width: 7vw;
} */

.link-card-tour {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: inherit; /* Mantiene el color del texto del enlace */
}

/* ------------------- ESTILOS FOOTER ---------------- */
.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: 0 20px;
  background-color: #8aa5ac;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container-footer p {
  margin: 0;
  font-size: 14px;
  color: white;
}

.iconos {
  display: flex;
  gap: 10px;
}

.iconos img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.copy {
  height: 24px;
  width: 24px;
}

/*PAGINA DETALLES */

.container-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: max-content;
}

.container-detail h4 {
  margin-top: 15vh;
  width: 80vw;
  font-size: 2rem;
}
/*---------------------      SECCION  1    ----------------------*/

/*----  DIV QUE CONTIENE TITULO E IMAGENES -----*/

.section-one {
  height: max-content;
  margin-top: 3vh;
}

.img-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-big {
  width: 150%;
  max-width: 100%;
  height: 21vh;
}

.container-img-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  height: 15.56vh;
}

.img-small {
  width: 35vw;
  max-width: 100%;
  height: 10vh;
}

/*----  DIV QUE CONTIENE TEXTO Y CARD BOOKING -----*/

.info-booking {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.info-booking p {
  color: #8aa5ac;
  font-size: small;
}

.prince-info-booking {
  color: #007bc7;
  font-weight: bold;
}

.btn-text {
  border: 1px solid black;
  border-radius: 5px;
  color: #007bc7;
  background-color: #ffffff;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 5px;
}

.card-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgba(193, 138, 41, 0.1);
  box-shadow: 1px 1px rgba(0, 0, 0, 1);
  height: max-content;

  border: 2px solid #0e2a33;
  border-radius: 25px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
}

.card-booking input {
  border: none;
  border-radius: 5px;
}

.info-card-booking {
  text-align: center;
  border: 1px solid #0e2a33;
  border-radius: 30px;
  padding: 5px;
}

.btn-card-booking {
  border: none;
  border-radius: 10px;
  background-color: #c18a29;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
}

/*---------------------      SECCION  2    ----------------------*/
.section-two {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.link-home {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.property {
  border-top: 2px solid #b3b3b3;
  text-align: left;
  top: -1px;
  width: 100%;
}
.property-list li {
  font-size: 12px;
  font-weight: 900;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
}
.travel {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding: 10px;
}
.travel h3 {
  text-align: center;
}
.intinerary {
  padding: 0;
  width: 250px;
}
.intinerary-list li {
  font-size: 11px;
  font-weight: 300;
  list-style-type: decimal;
  margin-left: -25px;
  padding: 0;
}
.map {
  margin-top: 25px;
}

.map img {
  height: 280px;
  width: 250px;
}

@media screen and (min-width: 768px) {
  /* ------------- Media Query Seccion 1 -------------- */
  .container-detail h4 {
    margin-top: 15vh;
    font-size: 1.5rem;
    margin-left: -10vw;
  }
  .section-one {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
  }
  .container-img-small {
    visibility: hidden;
  }
  .img-big {
    width: 170vw;
    height: 40vh;
  }
  .info-booking {
    margin-left: -7vw;
  }

  /* ------------- Media Query Seccion 2 -------------- */

  .section-two {
    display: flex;
    flex-direction: row-reverse;

    width: 100%;
  }
  .property {
    text-align: left;
  }

  .property-list li {
    font-size: 1rem;
  }
  .travel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .travel h3 {
    font-size: 2rem;
    text-align: center;
  }
  .intinerary {
    padding: 0;
    width: 250px;
  }
  .intinerary-list li {
    font-size: 1rem;
    font-weight: 300;
    list-style-type: decimal;
    margin-left: -25px;
    padding: 0;
  }
  .map {
    margin-top: 25px;
  }
  .map img {
    height: 60vh;
    width: 40vw;
  }
}

/*PAGINA INICIO SESION*/
.container-session-start {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px; /* Ajusta el margen inferior para evitar la superposición con el footer */
  padding: 20px; /* Ajuste opcional para el contenido */
}



